<div class="bookings-container">
    <h2>Yöpyminen</h2>
    <div class="hotel-list">
        <div class="hotel">
            <h3>Hotelli Verso</h3>
            <p>
                <strong>Osoite:</strong> Kauppakatu 35, 40100 Jyväskylä<br>
                <strong>Verkkosivu: </strong> <a href="https://www.hotelliverso.fi/">hotelliverso</a><br>
            </p>
            <p>
                <strong>Ohjeet varaukseen</strong>
                Verkossa tehtävän varauksen yhteydessä käytä alennuskoodia: XXXXXX
            </p>
        </div>

        <div class="hotel">
            <h3>Hotelli nro 2</h3>
        </div>
    </div>
</div>
