<div class="wedding-details-container">
    <h2>Yleistä juhlasta</h2>
    <div class="details-section">
        <h3>Juhla</h3>
        <p>Vihkitilaisuus alkaa klo 14:00</p>
    </div>
    <div class="details-section">
        <h3>Valokuvaaja</h3>
        <p>
            Juhlissa on ammattilaisvalokuvaaja, joka on taltioimassa koko juhlan
        </p>
        <p>
            Valokuvaaja on käytettävissä koko juhlan ajan ja kannustamme käyttämään hänen palvelujaan omien valokuvien ottamiseen
        </p>
        <p>
            Juhlissa otetut kuvat jaetaan jokaiselle vieraalle
        </p>
    </div>
</div>
